.dados{
	width: 1000px;
	margin: 20px auto;
	padding: 20px;
	border: 3px #990000 solid;
	border-radius: 30px 10px;
}

.dados h2{
	font-size: 24px;
	margin: 10px 0;
	font-weight: bold;
}

form, fieldset{
	width: 1000px;
	margin: 0 auto;
}

form h2{
	margin: 30px 0px;
	font-size: 24px;
}

label, legend{
	display: block;
	margin: 30px 20px;
	font-size: 24px;
}

.preencher, textarea{
	width: 50%;
	display: block;
	margin: 10px 0;
	padding: 15px;
	font-size: 18px;
}

input:hover{
	border-color: red;
}

textarea:hover{
	border-color: red;
}

legend{
	margin: 30px 0;
}

.etiqueta-marcar{
	margin: 0 20px;
}

.marcar{
	display: inline;
	margin: 20px;
}

#tit2{
	display: block;
	margin: 30px 0;
	text-align: center;
}

form select{
	width: 25%;
	margin: 20px auto 40px;
}

#botao, select{
	width: 50%;
	display: block;
	margin: 20px auto 40px;
	padding: 20px;
	background: orange;
	color: white;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	border: 2px purple solid;
	border-radius: 30px;
	transition: 1s all;
}

#botao:hover{
	background: red;
	transform: scale(1.05);
}


