.mencoes{
    background: linear-gradient(black, white);
}

.mencoes-box{
	text-align: center;
    width: 70%;
    margin: 0 auto;
	padding: 2rem 0;
}

.mencoes p{
    display: block;
	font-size: 24px;
	margin: 0 0 20px ;
}

.mencoes img{
	margin: 1rem 2rem 4rem 1rem;
	border: 1px black solid;
	border-radius: 40px;
	float: left;
	transition: 0.5s;
	box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem black;
}

.mencoes img:hover{
	opacity: 80%;
	border-color: rgb(88, 0, 0);
}

.mencoes-phrase{
	position: relative;
	top: 10rem;
}

.sobre-mim{
	clear: left;
}

.sobre-mim-box{
	text-align: center;
	width: 80%;
	margin: 1rem auto;
	padding: 20px;
	font-size: 24px;
	border: 3px #990000 solid;
	border-radius: 30px 10px;
	box-shadow: 0.1rem 0.1rem 4px 2px black;
}

.sobre-mim h2{
	padding: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
}

.sobre-mim p{
	padding: 1rem;
}

.habilidades{
	width: 80%;
	margin: 20px auto;
	padding: 20px;
	font-size: 24px;
	border: 3px #990000 solid;
	border-radius: 30px 10px;
	box-shadow: 0.1rem 0.1rem 4px 2px black;
}

.habilidades h2{
	text-align: center;
	font-weight: bold;
	margin: 1.4rem auto;
}

.habilidades p{
	text-align: center;
	display: inline-block;
	margin: 0.8rem 20%;
}
